extends ../head.pug

block head
    title Health book - add drug
block content
    include menu.pug
    .container
        .row
            .col.offset-s3.s6.form-container
                form(action="/add-drug", method="post")
                    .col.offset-s1.s10.input-field
                        h4.center Add drug
                    .col.offset-s1.s10.input-field
                        i.material-icons.prefix face
                        input(type="text" name="name" required)
                        label(for="name") Name
                    .col.offset-s1.s10.input-field
                        i.material-icons.prefix favorite
                        input(type="text" name="medication" required)
                        label(for="medication") Medication
                    .col.offset-s1.s10.input-field
                        i.material-icons.prefix work
                        input(type="text" name="pack" required)
                        label(for="pack") Pack
                    .col.offset-s1.s10.input-field
                        i.material-icons.prefix fingerprint
                        input(type="text" name="ean" required)
                        label(for="ean") EAN
                    .col.offset-s1.s10.input-field.center
                        if drugExist
                            h6.red-text.center This drug already exists in our database.
                    .col.offset-s1.s10.input-field.center
                        input(type="submit", value="Add").btn.blue.darken-1

    
