extends ../head.pug

block head
    title Health book - diagnostic edit
block content
    include menu.pug
    .container
        .row
            .col.offset-s3.s6.form-container
                form(action="/admin/diagnostic-edit", method="post" )
                    .col.offset-s1.s10.input-field
                        h4.center Edit diagnostic test
                    .col.offset-s1.s10.input-field
                        i.material-icons.prefix assessment
                        input(type="text" name="name" required value=diagnostic.name)
                        label(for="name") Name
                    .col.offset-s1.s10.input-field
                        i.material-icons.prefix assignment
                        input(type="text" name="description" required value=diagnostic.description)
                        label(for="description") Description
                    .col.offset-s1.s10.input-field.center
                        if drugExist
                            h6.red-text.center This diagnostic test already exists in our database.
                    .col.offset-s1.s10.input-field.center
                        input(type="submit", value="Save").btn.blue.darken-1
                        input(type="hidden", name="diagnosticId" value = diagnostic.idDT)

    
