extends ../head.pug

block head
    title Health book - admin
block content
    include menu.pug
    body
        .container
            .row
                .col.s12
                    h4.center Admin panel
                    h6.center Welcome to health book admin panel! You can add/edit/delete here doctors, drugs, and diagnostic tests.
    
