nav
    .nav-wrapper.blue
        .container
            a.brand-logo Health book
            ul.right.hide-on-med-and-down
                li
                    a(href="/admin/doctors") Doctors
                li
                    a(href="/admin/diagnostic") Diagnostic tests
                li
                    a(href="/admin/drugs") Drugs
                li
                    a(href='/logout') Logout
            ul(id="nav-mobile").right.hide-on-large-only
                a(href="#")
                    i.material-icons menu