nav
    .nav-wrapper.blue
        .container
            a.brand-logo Health book
            ul.right.hide-on-med-and-down
                li
                    a(href="/doctors") Doctors
                li
                    a(href="/diagnostic-tests") Diagnostic tests
                li
                    a(href="/drugs") Drugs
            ul(id="nav-mobile").right.hide-on-large-only
                a(href="#")
                    i.material-icons menu