extends ../head.pug

block head
    link(rel="stylesheet", href="css/login.css")
    title Health book - Registration
block content
    .container.login-body
        .row
            form(action="/register" method='POST')
                .col.offset-l3.offset-s1.l6.s10.input-field
                    .row.login-input-container
                        .col.offset-s1.s10.input-field
                            h4.center Register
                        .col.offset-s1.s10.input-field
                            i.material-icons.prefix face
                            input(type="text" name="name" required)
                            label(for="name") Name
                        .col.offset-s1.s10.input-field
                            i.material-icons.prefix assignment_ind
                            input(type="text" name="surname" required)
                            label(for="surname") Surname
                        .col.offset-s1.s10.input-field
                            i.material-icons.prefix email
                            input(type="email" name="email" required) 
                            label(for="email") Email
                        .col.offset-s1.s10.input-field
                            i.material-icons.prefix vpn_key
                            input(type="password" name="password" required)
                            label(for="password") Password
                        .col.offset-s1.s10.input-field.center
                            input(type="submit", value="Register").btn.blue.darken-1
                        .col.offset-s1.s10.input-field.center
                            if userExists
                                h6.red-text.center User with this email already exists.
                        .col.offset-s1.s10.input-field
                            a(href="/login") Already have an account?
