extends ../head.pug
block head
    script(src="../scripts/materialize.js")
block content
    body
        include menu.pug
        .container
            .row
                .col.offset-s3.s6.form-container
                    form(action="/add-visit", method="post" id="add-visit")
                        .col.offset-s1.s10.input-field
                            h4.center Add visit
                        .col.offset-s1.s10.input-field
                            i.material-icons.prefix assessment
                            input(type="text" name="diagnose" required)
                            label(for="diagnose") Diagnose
                        .col.offset-s1.s10.input-field
                            i.material-icons.prefix assignment
                            input(type="text" name="date" class="datepicker" required)
                            label(for="date") Date of visit
                        .col.offset-s1.s10.input-field
                            i.material-icons.prefix assignment
                            input(type="text" name="time" class="timepicker" required)
                            label(for="time") Time of visit
                        .col.offset-s1.s10.input-field
                            select(name="doctorId" form="add-visit")
                                each doctor in doctors
                                    option(value=doctor.idDD) #{doctor.name} #{doctor.surname} - #{doctor.spec}
                        .col.offset-s1.s10.input-field
                            select(name="status" form="add-visit")
                                option(value=0) Not completed
                                option(value=1) Completed
                        .col.offset-s1.s10.input-field.center
                            input(type="submit", value="Add").btn.blue.darken-1