extends ../head.pug
block head
    title Health book - change pasword
block content
    include menu.pug
    .container
        .row
            .col.offset-s3.s6.form-container
                form(action="/change-password", method="post")
                    .col.offset-s1.s10.input-field
                        h4.center Change password
                    .col.offset-s1.s10.input-field
                        i.material-icons.prefix assessment
                        input(type="password" name="oldPassword" required)
                        label(for="oldPassword") Old password
                    .col.offset-s1.s10.input-field
                        i.material-icons.prefix assignment
                        input(type="password" name="newPassword" required)
                        label(for="newPassword") New password
                    .col.offset-s1.s10.input-field.center
                        if passwordChanged
                            h6.green-text.center Your password has been changed.
                        if passwordWrong
                            h6.red-text.center Old password doesn't match.  
                    .col.offset-s1.s10.input-field.center
                        input(type="submit", value="Change").btn.blue.darken-1

    
