nav
    .nav-wrapper.blue
        .container
            a.brand-logo Health book
            ul.right.hide-on-med-and-down
                li
                    a(href="/visits") Visits
                li
                    a(href='/change-password') Change password
                li
                    a(href='/logout') Logout
            ul(id="nav-mobile").right.hide-on-large-only
                a(href="#")
                    i.material-icons menu